<div class="main-content">
<h1>{{ title }}!</h1>
<p>all 5 mins</p>
<ol>
  <li>Intro - Ed<ul>
    <li>what is accessibility?</li>
    <li>disability is a mismatched design</li>
    <li>fonts</li>
    <li>essential to some - useful to all</li></ul>
  </li>
  <li>Identifying - Andrew<ul>
    <li>on presentation</li>
    <li>Wave tool</li>
    <li>chrome dev tools</li>
    <li>rending optoins</li>
    <li>reduced motion</li></ul>
  </li>
  <li>Demonstration - front end user - Graham<ul>
    <li>reduced motion example</li>
    <li>links</li>
    <li>headings</li>
    <li>button click area 24px size with 24px offset</li>
    <li>forms - screen reader</li>
    <li>keyboard navigation</li></ul>
  </li>
  <li>Outro Ed - with further reading, contacts, money</li>

</ol>

<h2>Reduced motion</h2>

<p>People with cognitive and/or motor impairments may find animations tricky - allow them to be turned off.</p>

<p>Here is a <a href="https://www.britishairways.com/travel/country_choice/public/en_gb?source=MNVLNG">remove animation example we made earlier</a>.</p>

<h2>Descriptive images</h2>

<img src="assets/temporary-disability.gif" alt="" />

<figure>
  <img src="assets/temporary-disability.gif" alt="Animation of Graham riding slowly on a skateboard - animation cuts just as he begins to fall over" />
  <figcaption>Sometimes it's the easy stuff that gets you</figcaption>
</figure>

<h2>Descriptive links</h2>

<ul class="links">
  <li><a href="https://www.britishairways.com/en-gb/offers/flight-deals">Find out more</a> - descriptor no use</li>
  <li><a href="https://www.britishairways.com/en-gb/offers/flight-deals">Flight deals</a> - good</li>
  <li><a href="https://www.cat-ears-male-sized.com">Cat ears referral link</a> - also good</li>
</ul>

<button>Hide these awful animated gifs</button>

<h2>Component libraries</h2>

<mat-slide-toggle>Angular Materials Slider (checkbox imitation)</mat-slide-toggle>

<mat-tab-group>
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>

<div class="message">
    <p>If you're lucky enough to use such libraries, ensure it and your implementation is accessible - it's not a freebie.</p>
    <button mat-button [matMenuTriggerFor]="animals">Animal index</button>
    <mat-menu #animals="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
      <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
    </mat-menu>

    <mat-menu #vertebrates="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
      <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
      <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
      <button mat-menu-item>Birds</button>
      <button mat-menu-item>Mammals</button>
    </mat-menu>

    <mat-menu #invertebrates="matMenu">
      <button mat-menu-item>Insects</button>
      <button mat-menu-item>Molluscs</button>
      <button mat-menu-item>Crustaceans</button>
      <button mat-menu-item>Corals</button>
      <button mat-menu-item>Arachnids</button>
      <button mat-menu-item>Velvet worms</button>
      <button mat-menu-item>Horseshoe crabs</button>
    </mat-menu>

    <mat-menu #fish="matMenu">
      <button mat-menu-item>Baikal oilfish</button>
      <button mat-menu-item>Bala shark</button>
      <button mat-menu-item>Ballan wrasse</button>
      <button mat-menu-item>Bamboo shark</button>
      <button mat-menu-item>Banded killifish</button>
    </mat-menu>

    <mat-menu #amphibians="matMenu">
      <button mat-menu-item>Sonoran desert toad</button>
      <button mat-menu-item>Western toad</button>
      <button mat-menu-item>Arroyo toad</button>
      <button mat-menu-item>Yosemite toad</button>
    </mat-menu>

    <mat-menu #reptiles="matMenu">
      <button mat-menu-item>Banded Day Gecko</button>
      <button mat-menu-item>Banded Gila Monster</button>
      <button mat-menu-item>Black Tree Monitor</button>
      <button mat-menu-item>Blue Spiny Lizard</button>
      <button mat-menu-item disabled>Velociraptor</button>
    </mat-menu>
</div>

<h2>ideas</h2>
<ol>
  <li>I was thinking of showing off the WAVE toolbar, and some of Chrome's emulation modes for visual impairments. Maybe the Lighthouse accessibility one too, but aware there's not really a lot of time.</li>
  <li>What is accessibility? Accessibility is about people, user experience - not just checklists</li>
  <li>Disability & design - medical model vs social model. Bad design is disabling and designs that are flexible and meet user needs they are enabling</li>
  <li>Challenging assumptions - differences in user needs</li>
  <li>Essential to some, useful for all - temporary disabilities, situational limitations</li>
</ol>

<div>