$pink-bg: #f8bbd0;
$purple-border: #7b1fa2;

.main-content {
    margin: 36px auto;
    width: 800px;

    h1, h2, h3, h4 {
        margin: 18px 0 0;
    }

    .message {
        margin: 18px 0 0;
        padding: 18px;
        background-color: $pink-bg;
        border: 2px dashed $purple-border;
    }

    ol, ul {
        padding-top: 18px;
        margin: 0;
    }

    li {
        padding-top: 18px;

        &:nth-child(1) {
            padding-top: 0;
        }
    }

    .strikethrough {
        text-decoration: line-through;
    }
}