<div class="main-content">
<h1>{{ title }}!</h1>

<h2>Intro and some basic concepts</h2>

<ul class="menu">
  <li><a href="https://www.google.com">One</a> - descriptor no use</li>
  <li><a href="https://mail.google.com">Sign up to gmail</a> - good</li>
  <li><a href="https://www.cat-ears-man-sized.com" title="cat ears | cat ears | etc">Please buy some cat ears from our partners</a> - titles on links don't help SEO but can make it hard to see the link and conversely - can't be relied on as some users don't see them.</li>
</ul>

<h2>Component libraries</h2>

<mat-slide-toggle>Angular Materials Slider (checkbox imitation)</mat-slide-toggle>

<mat-tab-group>
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>

<div class="message">
    <p>If you're lucky enough to use such libraries, ensure it and your implementation is accessible - it's not a freebie.</p>
    <button mat-button [matMenuTriggerFor]="animals">Animal index</button>
    <mat-menu #animals="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
      <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
    </mat-menu>

    <mat-menu #vertebrates="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
      <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
      <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
      <button mat-menu-item>Birds</button>
      <button mat-menu-item>Mammals</button>
    </mat-menu>

    <mat-menu #invertebrates="matMenu">
      <button mat-menu-item>Insects</button>
      <button mat-menu-item>Molluscs</button>
      <button mat-menu-item>Crustaceans</button>
      <button mat-menu-item>Corals</button>
      <button mat-menu-item>Arachnids</button>
      <button mat-menu-item>Velvet worms</button>
      <button mat-menu-item>Horseshoe crabs</button>
    </mat-menu>

    <mat-menu #fish="matMenu">
      <button mat-menu-item>Baikal oilfish</button>
      <button mat-menu-item>Bala shark</button>
      <button mat-menu-item>Ballan wrasse</button>
      <button mat-menu-item>Bamboo shark</button>
      <button mat-menu-item>Banded killifish</button>
    </mat-menu>

    <mat-menu #amphibians="matMenu">
      <button mat-menu-item>Sonoran desert toad</button>
      <button mat-menu-item>Western toad</button>
      <button mat-menu-item>Arroyo toad</button>
      <button mat-menu-item>Yosemite toad</button>
    </mat-menu>

    <mat-menu #reptiles="matMenu">
      <button mat-menu-item>Banded Day Gecko</button>
      <button mat-menu-item>Banded Gila Monster</button>
      <button mat-menu-item>Black Tree Monitor</button>
      <button mat-menu-item>Blue Spiny Lizard</button>
      <button mat-menu-item disabled>Velociraptor</button>
    </mat-menu>
</div>

<h2>ideas</h2>
<ol>
  <li>I was thinking of showing off the WAVE toolbar, and some of Chrome's emulation modes for visual impairments. Maybe the Lighthouse accessibility one too, but aware there's not really a lot of time.</li>
  <li>What is accessibility? Accessibility is about people, user experience - not just checklists</li>
  <li>Disability & design - medical model vs social model. Bad design is disabling and designs that are flexible and meet user needs they are enabling</li>
  <li>Challenging assumptions - differences in user needs</li>
  <li>Essential to some, useful for all - temporary disabilities, situational limitations</li>
</ol>

<div>